{% extends "header.html" %}
{% block content %}
<h1>About Our Project</h1>
<br>
<h5>Group Members</h5>
    <li>Philip Alexander</li>
    <li>MeiJade Hsu</li>
    <li>Samuel Okesola</li>
<br>
<p>Flext is a social media network exclusively for fitness fanatics. Users sign up to make posts, 
    like and comment on each others' posts, and friend other users. The goal is to allow fitness 
    fanatics to socialize with each other in a space dedicated to bringing together people who 
    share their passion for fitness.</p>
{% endblock %}>