{% extends "header.html" %}
{% block content %}

<div class="row">
    {% if current_user.is_authenticated %}
    <div class="col-3">
        <form action="/" class="form-inline my-2 my-lg-0" method="POST">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-info">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <h1>Post Here! </h1>

            {{ form.csrf_token }}
            {{ form.title(class="form-control", placeholder="Title", style="width:210px") }}
            
            {% if form.title.errors %}
            <div class="alert alert-warning" role="alert">
                {% for error in form.title.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% endif %}
            
            {{ form.text(class="form-control", placeholder="Post", style="width:210px") }}
            {% if form.text.errors %}
            <div class="alert alert-warning" role="alert">
                {% for error in form.text.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% endif %}

            {{ form.calories(class="form-control", placeholder="Calories Burned", style="width:210px") }}
            {% if form.calories.errors %}
            <div class="alert alert-warning" role="alert">
                {% for error in form.calories.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% endif %}

            {{ form.submit(class="btn btn-outline-success", style="width:210px") }}
        </form>
    </div>
    {% endif %}
    <div class="col-9">
        <h1 style = "margin-left: 2.5rem"> Feed </h1>
        <ul class="media-list">
            {% for post in posts %}
            <li class="media review-item border">
                <div class="media-body">
                    <span class="float-right">
                        {% if post.calories %}
                        <small>Calories Burned:{{ post.calories }}</small>
                        {% endif %}
                    </span>
                    <strong>
                        <p class = "border"><a href="{{ url_for('socials.user_detail', username=post.poster.username) }}"> @{{post.poster.username}}</a></p>
                    </strong>
                    <span class="float-right">
                        <a href="{{ url_for('socials.post_detail', post_id=post.id) }}">
                            <button type="button" class="btn btn-info"  > <b>Comment</b></button>
                         </a>  
                    </span>
                    <h5 style = "margin-bottom: 0px;">
                        {{ post.title }}
                    </h5>
                    <p>{{ post.content }}</p>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    
</div>
{% endblock %}